<div id="mySidepanel" class="sidepanel">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <img src="images.png" alt="Avatar" width="50" height="50">
  <a href="../pages/profile">Username</a>
  <a href="../pages/chat">Person A</a>
  <a href="../pages/chat">Person B</a>
  <a href="../pages/chat">Person C</a>
</div>

<button class="openbtn" onclick="openNav()">☰</button>  

<script>
function openNav() {
  document.getElementById("mySidepanel").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidepanel").style.width = "0";
}
</script>