<div id="mySidepanel" class="sidepanel">

<div class="card4">
    <a href="pages/home">HOME</a>
  </div>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <br>
  <div class="card3">
    <p><img src="images.png" alt="Avatar">
    <a href="pages/profile">Username</a></p>
  </div>
  <br>
  <h3>Matched components with:</h3>
  <br>
  <div class="card3">
    <p><img src="sherlock.jpg" alt="Avatar" class="right">
    <a href="pages/chat">Person A</a></p>
  </div>
  <div class="card3">
    <p><img src="sherlock.jpg" alt="Avatar" class="right">
    <a href="pages/chat">Person B</a></p>
  </div>
  <div class="card3">
    <p><img src="sherlock.jpg" alt="Avatar" class="right">
    <a href="pages/chat">Person C</a></p>
  </div>
  <div class="card3">
    <p><img src="sherlock.jpg" alt="Avatar" class="right">
    <a href="pages/chat">Person D</a></p>
  </div>
  <div class="card3">
    <p><img src="sherlock.jpg" alt="Avatar" class="right">
    <a href="pages/chat">Person E</a></p>
  </div>
</div>

<button class="openbtn" onclick="openNav()">☰</button>  

<script>
function openNav() {
  document.getElementById("mySidepanel").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidepanel").style.width = "0";
}

// from: https://www.w3schools.com/howto/howto_js_collapsible.asp
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

</script>