<div id="mySidepanel" class="sidepanel">

<div class="card4">
    <a href="../pages/home">HOME</a>
  </div>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <br>
  <div class="card3">
    <p><img src="images.png" alt="Avatar">
    <a href="../pages/profile">Username</a></p>
  </div>
  <br>
  <h3>Matched components with:</h3>
  <br>
  <div class="card3">
    <p><img src="sherlock.jpg" alt="Avatar" class="right">
    <a href="../pages/chat">Person A</a></p>
  </div>
  <div class="card3">
    <p><img src="sherlock.jpg" alt="Avatar" class="right">
    <a href="../pages/chat">Person B</a></p>
  </div>
  <div class="card3">
    <p><img src="sherlock.jpg" alt="Avatar" class="right">
    <a href="../pages/chat">Person C</a></p>
  </div>
  <div class="card3">
    <p><img src="sherlock.jpg" alt="Avatar" class="right">
    <a href="../pages/chat">Person D</a></p>
  </div>
  <div class="card3">
    <p><img src="sherlock.jpg" alt="Avatar" class="right">
    <a href="../pages/chat">Person E</a></p>
  </div>
</div>

  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <img src="images.png" alt="Avatar" width="50" height="50">
  <a href="../pages/profile">Username</a>
  <a href="../pages/chat">Person A</a>
  <a href="../pages/chat">Person B</a>
  <a href="../pages/chat">Person C</a>
</div>

<button class="openbtn" onclick="openNav()">☰</button>  

<script>
function openNav() {
  document.getElementById("mySidepanel").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidepanel").style.width = "0";
}
</script>