<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>


<body>

<div class="container">
    <section id="content">
       <form action="/home">
            <h1>Add Inventory</h1>
            <div>
                <input type="text" placeholder="Component Name" required="" id="componet" />
            </div>
            <div>
                <input type="text" placeholder="Quantity" required="" id="quantity" />
            </div>
            <div>
                <input type="text" placeholder="Voltage Rating" required="" id="rating" />
            </div>
            <div>
                <input type="text" placeholder="Wattage" required="" id="wattage" />
            </div>
            <div>
                <input type="text" placeholder="Others" required="" id="others" />
            </div>
            <div>
                <input type="submit" value="Add" />
            </div>
        
        </form> <!-- form -->
    </section><!-- content -->
</div><!-- container -->
</body>
</html>
