<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>


<body>

<div class="container">
    <section id="content">
       <<form action="/addinv" method="post" id="addinvForm"/>
            <h1>Add Inventory</h1>
            <div>
                <input type="text" placeholder="Component Name" required="" name="component" id="component" form="addinvForm"/>
            </div>
            <div>
                <input type="text" placeholder="Quantity" required="" name="quantity" id="quantity" form="addinvForm"/>
            </div>
            <div>
                <input type="text" placeholder="Voltage Rating" required="" name="voltage" id="voltage" form="addinvForm"/>
            </div>
            <div>
                <input type="text" placeholder="Wattage" required="" name="wattage" id="wattage" form="addinvForm"/>
            </div>
            <div>
                <input type="text" placeholder="Others" required="" name="others" id="others" form="addinvForm"/>
            </div>
            <div>
                <input type="submit" value="Add" form="addinvForm"/>
            </div>
        </form> <!-- form -->
    </section><!-- content -->
</div><!-- container -->
</body>
</html>
