<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>  
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/addcomp.js" type="text/javascript"></script>

<body>
    <h1>Add Inventory</h1>
    <div id="form-div">
        <form action="/addinv" id="form" method="post"></form>
    </div>
    <div id="components">
    </div>
    <div id="button-div">
        <button type="button" id="addcomp">Add another component</button>
    </div>
    <div id="submit-div">
        <input type="submit" value="Submit" form="form"/>
    </div>
    
</body>
</html>
