<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/addcomp.js" type="text/javascript"></script>

<body>
    <div class="col">
        <h1>Add Request</h1>
        <div id="loadbatch">
            <form action="/batches" id="batchform" method="get"></form>
            <input type="submit" value="Load batch" form="batchform">
        </div>
        <div id="form-div">
            <form action="/addreq" id="form" method="post"></form>
        </div>
        <div id="components">
        </div>
        <div id="button-div">
            <button type="button" id="addcomp">Add another component</button>
        </div>
        <div id="submit-div">
            <span id="batch">
                <label for="batchName">Batch Name: </label>
                <input type="text" id="batchName" name="batchName" maxlength=50 form="form"/>
                <br/>
            </span>
            <input type="submit" value="Submit" form="form"/>
            <a href="/reqcomp">Component not in the list? Request new component here</a>
        </div>
    </div>
</body>
</html>
