<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>


<body>

<div class="container">
    <section id="content">
       <form action="/addreq" method="post" id="addreqForm"/>
            <h1>Add Requests</h1>
            <div>
                <input type="text" placeholder="Component Name" name="component" required="" id="component" form="addreqForm"/>
            </div>
            <div>
                <input type="text" placeholder="Quantity" required="" name="quantity" id="quantity" form="addreqForm"/>
            </div>
            <div>
                <input type="text" placeholder="Voltage Rating" required="" name="voltage" id="voltage" form="addreqForm"/>
            </div>
            <div>
                <input type="text" placeholder="Wattage" required="" id="wattage" name="wattage" form="addreqForm"/>
            </div>
            <div>
                <input type="text" placeholder="Others" required="" name="others" id="others" form="addreqForm"/>
            </div>
            <div>
                <input type="submit" value="Request" form="addreqForm"/>
            </div>
    </section><!-- content -->
</div><!-- container -->
</body>
</html>
