<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
<br> </br>

<div class="container">
    <section id="content">
       <form action="/home">
            <h1>Log In</h1>
            <div>
                <input type="text" placeholder="Username" required="" id="username" />
            </div>
            <div>
                <input type="password" placeholder="Password" required="" id="password" />
            </div>
           
            <div>
                <input type="submit" value="Log in" />
                <a href="pages/signup">No account yet? Register Here</a>
            </div>
        
        </form> <!-- form -->
    </section><!-- content -->
</div><!-- container -->

</body>
</html>