<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
<br> </br>

<div class="container">
    <section id="content">
       <form action="/login" method="post" id="loginForm"/>
            <h1>Log In</h1>
            <div>
                <input type="text" placeholder="Username" name="username" required="" id="username" form="loginForm"/>
            </div>
            <div>
                <input type="password" placeholder="Password" name="password" required="" id="password" form="loginForm"/>
            </div>
            <div> <%= prompt %>  </div>
            <div>
                <input type="submit" value="Log in" form="loginForm"/>
                <a href="/signup">No account yet? Register Here</a>
            </div>
        </form>
    </section>
</div>

</body>
</html>