<!DOCTYPE html>
<html lang="en"> 

<head>
  <% include ../partials/head %>
</head>


<body>

<div class="container">
    <section id="content">
       <form action="/home">
            <h1>Sign Up</h1>
            <div>
                <input type="text" placeholder="First Name" required="" id="firstname" />
            </div>
            <div>
                <input type="text" placeholder="Last Name" required="" id="lastname" />
            </div>
            <div>
                <input type="text" placeholder="Email" required="" id="email" />
            </div>
            <div>
                <input type="text" placeholder="Contact Number" required="" id="number" />
            </div>
           <div>
                <input type="text" placeholder="Username" required="" id="username" />
            </div>
            <div>
                <input type="password" placeholder="Password" required="" id="password" />
            </div>
            <div>
                <input type="submit" value="Register" />
            </div>
        
        </form> <!-- form -->
    </section><!-- content -->
</div><!-- container -->
</body>
</html>
